@font-face {
    font-family: 'zihunmengquruantangti';
    src: url('zihun64hao-mengquruantangti-Regular.woff2') format('woff2'),
        url('zihun64hao-mengquruantangti-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

